<configuration>
	<jmxConfigurator />
	<!-- 控制台输出日志 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}-%msg%n</pattern>
		</layout>
	</appender>
	<!-- 文件输出日志 -->
	<appender name="FILE"  
        class="ch.qos.logback.core.rolling.RollingFileAppender"> 
        <!-- 支持多jvm同时操作日志 --> 
        <prudent>true</prudent>
        <file>D:\ronganonline\userservice\userservice.log</file>  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <!-- daily rollover -->  
            <fileNamePattern>D:\ronganonline\userservice\userservice.%d{yyyy-MM-dd}.log</fileNamePattern>  
            <!-- keep 30 days' worth of history -->  
            <maxHistory>30</maxHistory>  
        </rollingPolicy>  
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">  
            <maxFileSize>10MB</maxFileSize>  
        </triggeringPolicy>     
        <encoder >  
            <Pattern>%-15d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{0}[%file:%line] - %msg%n %ex{2}</Pattern>  
            <charset>UTF-8</charset>  
            <immediateFlush>true</immediateFlush>  
        </encoder>  
    </appender> 
	<!-- 默认日志级别 -->
	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
	<!--特定日志级别 -->
	<logger name="com.ubankers.userservice.business.repository">
		<level value="debug" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>
</configuration>